<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
</head>
<body style="color:white; background-image: url(https://www.ecopetit.cat/wpic/mpic/269-2691445_background-gta-5-voiture.jpg); background-size: cover;">
 
	<div class="container" style="margin-top: 8em; font-size: 20px; font-weight: 900;">
		<h1>Edit</h1>
<% for (i of reserve) { %>
    <% if (i.ID == editID) { %>
		<form action="/edit" method="POST">
			<div class="form-group">
            <input type="text" id="edit" name="ID" size="1" value="<%= editID %>" required><br>
				<label for="Nom">Nom</label>
				<input 
					class="form-control" 
                    type = "text" 
                    id="nom" 
                    name ="Name"  
                    maxlength="20" 
                    autocomplete="off" 
                    required
                    value="<%= i.Name %>"
				/>
			</div>
            <div class="form-group">
                <label for="Prenom">Prenom</label>
                <input
                    class="form-control" 
                    type = "text" 
                    id="prenom" 
                    name ="Prenom"
                    maxlength="20" 
                    autocomplete="off" 
                    required
                    value="<%= i.Prenom %>"
                />    
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input
                    class="form-control" 
                    type = "text" 
                    id="email" 
                    name ="Email"
                    maxlength="20" 
                    autocomplete="off" 
                    required
                    value="<%= i.Email %>"
                />    
            </div>
            <div class="form-group">
                <label for="Phone">N° Téléphone :</label>
                <input
                    class="form-control" 
                    type = "text" 
                    id="telephone" 
                    name ="Phone" 
                    maxlength="10" 
                    autocomplete="off" 
                    required 
                    value="<%= i.Phone %>"
                />    
            </div>
			<div class="form-group">
				<label for="cars">Cars</label>
				<select id="cars" class="form-control" name="cars">
                    <option value="Dacia Sandero">Dacia Sandero</option>
					<option value="Renault Clio 4">Renault Clio 4</option>
					<option value="Fiat Panda">Fiat panda</option>
					<option value="Citroën C3">Citroën C3</option>
                    <option value="Dacia Lodgy">Dacia Lodgy</option>
                    <option value="Dacia Logan">Dacia Logan</option>
                    <option value="Hyundai H1">Hyundai H1</option>
				</select>
			</div>
            <div class="form-group">
                <label for="DateReservation">Date de Départ de Résérvation :</label>
                <input
                    class="form-control" 
                    type = "date" 
                    id= "dateDebut" 
                    name ="DateReservation" 
                    min="02-06-1998"
                    max="02-06-2050" 
                    required
                    value="<%= i.DateReservation %>"
                />    
            </div>
            <div class="form-group">
                <label for="DateReservationFin">Date de Fin de Résérvation :</label>
                <input
                    class="form-control" 
                    type = "date" 
                    id= "dateFin" 
                    name ="DateReservationFin" 
                    min="02-06-1998"
                    max="02-06-2050" 
                    required
                    value="<%= i.DateReservationFin %>"
                />    
            </div>
			<button type="submit" class="btn btn-info">Save</button>
            <% } %>
            <% } %>
		</form >
	</div>

<script>
      var element = document.getElementById("edit");
        function get(event) {
	        var mdf = event.name;
	        console.log(mdf);
            mdf.value = mdf; 
        }
</script>

</body>
</html>

 